{{/*
Usage:
{{ partial "components/carousel" (dict "ctx" . "images" .images ) }}

Object:
images:
- src: image.jpg
- src: image.jpg
*/}}



<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->

    <div class="relative h-[282px] md:h-[342px] lg:h-[549px] overflow-hidden">
        {{ range .images }}
        {{ $image := resources.GetMatch .src }}
        {{ $image_large := $image.Fill "1246x549" }}
        {{ $image_medium := $image.Fill "776x342" }}
        {{ $image_small := $image.Fill "640x282" }}
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img itemprop="image" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                srcset="{{ $image_small.RelPermalink }} 640w, {{ $image_medium.RelPermalink }} 1024w, {{ $image_large.RelPermalink }} 2000w"
                src="{{ $image_large.RelPermalink }}" {{ with .alt }}alt="{{ . }}" {{ end }} loading="lazy">

            {{ with .subject }}
            <div class="absolute inset-0 flex items-end p-[60px] justify-center bg-black bg-opacity-10">
                <span class="text-white text-lg md:text-xl lg:text-2xl font-bold">
                    {{ . }}
                </span>
            </div>
            {{ end }}
        </div>

        {{ end }}

    </div>

    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">

        {{ $counter := 0 }}
        {{ range .images }}
        <button type="button" class="w-3 h-3 shadow rounded-full" aria-current="true" aria-label="Slide {{$counter}}"
            data-carousel-slide-to="{{$counter}}"></button>
        {{ $counter = add $counter 1 }}
        {{ end }}

    </div>

    <!-- Slider controls -->
    <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span class="shadow inline-flex items-center justify-center w-10 h-10 rounded-full bg-white hover:bg-gray-100">
            <svg class="w-4 h-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
            </svg>
            <span class="sr-only">{{ i18n "next" }}</span>
        </span>
    </button>
    <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span class="shadow inline-flex items-center justify-center w-10 h-10 rounded-full bg-white hover:bg-gray-100">
            <svg class="w-4 h-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
            <span class="sr-only">{{ i18n "previous" }}</span>
        </span>
    </button>
</div>