<!-- ARTICLE -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://www.example.com/article"
        },
        "headline": "{{ .Title }}",
        "description": "{{ .Page.Params.description }}",
        "image": "{{ with .Params.images }}{{ index . 0 | absURL }}{{ else }}{{ .Site.Params.brand_image | absURL }}{{ end }}",
        "publisher": {
            "@type": "Organization",
            "name": "{{ .Site.Title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ .Site.Params.brand_image | absURL }}"
            }
        },
        "url": "{{ .Permalink }}"
    }
    </script>