{{ $productSection := .Site.Params.product_section | default "products" }}
{{ $blogSection := .Site.Params.blog_section | default "blog" }}
{{ if and (or (eq .Kind "section") (eq .Kind "taxonomy")) (not .IsHome) (gt (len .Pages) 0) }}
<!-- ITEM LIST SCHEMA for List Pages -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "{{ .Title }}",
  "description": "{{ .Page.Params.description | default .Site.Params.description }}",
  "url": "{{ .Permalink }}",
  "numberOfItems": {{ len .Pages }},
  "itemListElement": [
    {{ range $index, $page := .Pages }}
    {{ if $index }},{{ end }}
    {
      "@type": "ListItem",
      "position": {{ add $index 1 }},
      {{ if eq $.Section $productSection }}
      "item": {
        "@type": "Product",
        "name": "{{ $page.Title }}",
        "url": "{{ $page.Permalink }}"{{ with ($page.Params.description | default ($page.Summary | plainify)) }},
        "description": "{{ . }}"{{ end }}{{ with $page.Params.images }}
          {{ range first 1 . }}
            {{ with $page.Resources.GetMatch .src }},
        "image": "{{ .Permalink }}"
            {{ else }},
        "image": "{{ .src | absURL }}"
            {{ end }}
          {{ end }}
        {{ end }}{{ with $page.Params.product_info }}{{ with .prices }}
          {{ $firstPrice := index . 0 }}
          {{ $lastPrice := index . (sub (len .) 1) }},
        "offers": {
          "@type": "AggregateOffer",
          "priceCurrency": "{{ $.Site.Params.currency | default "NOK" }}",
          "lowPrice": "{{ $firstPrice.price }}",
          "highPrice": "{{ $lastPrice.price }}"
        }{{ end }}{{ end }}
      }
      {{ else if eq $.Section $blogSection }}
      "item": {
        "@type": "BlogPosting",
        "name": "{{ $page.Title }}",
        "url": "{{ $page.Permalink }}"{{ with ($page.Params.description | default ($page.Summary | plainify)) }},
        "description": "{{ . }}"{{ end }}{{ with $page.Params.images }}
          {{ range first 1 . }}
            {{ with $page.Resources.GetMatch .src }},
        "image": "{{ .Permalink }}"
            {{ else }},
        "image": "{{ .src | absURL }}"
            {{ end }}
          {{ end }}
        {{ end }}
      }
      {{ else }}
      "item": {
        "@type": "WebPage",
        "name": "{{ $page.Title }}",
        "url": "{{ $page.Permalink }}"{{ with ($page.Params.description | default ($page.Summary | plainify)) }},
        "description": "{{ . }}"{{ end }}{{ with $page.Params.images }}
          {{ range first 1 . }}
            {{ with $page.Resources.GetMatch .src }},
        "image": "{{ .Permalink }}"
            {{ else }},
        "image": "{{ .src | absURL }}"
            {{ end }}
          {{ end }}
        {{ end }}
      }
      {{ end }}
    }
    {{ end }}
  ]
}
</script>
{{ end }}
