{{- $ISO8601 := "2006-01-02T15:04:05-07:00" -}}

{{ with .Page.Params.video }}
<!-- VIDEO OBJECT SCHEMA -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "{{ .name | default $.Title }}",
  "description": "{{ .description | default $.Page.Params.description }}",
  "thumbnailUrl": "{{ .thumbnailUrl }}",
  "uploadDate": "{{ .uploadDate | default $.Date.Format $ISO8601 }}",
  "contentUrl": "{{ .contentUrl }}",
  {{ with .embedUrl }}"embedUrl": "{{ . }}",{{ end }}
  {{ with .duration }}"duration": "{{ . }}",{{ end }}
  "publisher": {
    "@type": "Organization",
    "name": "{{ $.Site.Title }}",
    "url": "{{ $.Site.BaseURL }}"{{ with $.Site.Params.logo }},
    "logo": {
      "@type": "ImageObject",
      "url": "{{ . | absURL }}"
    }{{ end }}
  }
}
</script>
{{ end }}
