{{ $blogSection := .Site.Params.blog_section | default "blog" }}
{{ $productSection := .Site.Params.product_section | default "products" }}
{{ $articleSchemaEnabled := false }}
{{ if .Params.article }}
  {{ $articleSchemaEnabled = true }}
{{ end }}
{{ with .Params.schema }}
  {{ if .article }}
    {{ $articleSchemaEnabled = true }}
  {{ end }}
{{ end }}
{{ $description := .Page.Params.description | default (.Summary | plainify) }}
{{ if and .IsPage (not .IsHome) (ne .Section $blogSection) (ne .Section $productSection) (not $articleSchemaEnabled) $description }}
<!-- WEBPAGE -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "{{ .Title }}",
  "url": "{{ .Permalink }}",
  "description": "{{ $description }}"{{ with .Page.Params.images }}
    {{ range first 1 . }}
      {{ with $.Page.Resources.GetMatch .src }},
  "image": "{{ .Permalink }}"
      {{ else }},
  "image": "{{ .src | absURL }}"
      {{ end }}
    {{ end }}
  {{ end }}
}
</script>
{{ end }}
