<!-- ARTICLE -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://www.example.com/article"
        },
        "headline": "{{ .Title }}",
        "description": "{{ .Page.Params.description }}",
        "image": "{{ with .Page.Params.ogImage }}{{ . | absURL }}{{else}}{{ .Site.Params.ogImage }}{{ end }}",
        "publisher": {
            "@type": "Organization",
            "name": "{{ .Site.Title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ .Site.Params.logo | absURL }}"
            }
        },
        "url": "{{ .Permalink }}"
    }
    </script>