{{- $ISO8601 := "2006-01-02T15:04:05-07:00" -}}

<meta itemprop="name" content="{{ .Title }}">
<meta itemprop="description" content="{{- with .Description }}{{ . }}{{ else }}{{- if .IsPage }}{{ .Summary }}{{ else }}{{- with .Site.Params.description }}{{ . }}{{- end }}{{- end }}{{- end }}">
<meta itemprops="keywords" name="keywords" content="{{ with .Params.keywords }}, {{.}} {{else}} {{ with .Site.Params.keywords }}{{.}}{{end}} {{ end }}">

{{- if not .PublishDate.IsZero -}}
<meta itemprop="datePublished" content="{{ .PublishDate.Format $ISO8601 | safeHTML }}">
{{- end -}}
{{- if not .Date.IsZero -}}
<meta itemprop="dateModified" content="{{ .Date.Format $ISO8601 | safeHTML }}">
{{- end -}}