@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 17px;
    line-height: calc(1ex / 0.32);
    text-wrap: balance;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}