<footer class="bg-gray-950 text-white">
    <div class="container pt-9 pb-16 flex">

        <div class="flex-1">
            <h3 class="text-xl">{{.Site.Title}}</h3>
            {{ with .Site.Params.email}}
            <span class="block mt-3 text-sm">E-post: {{.}}</span>
            {{ end }}
            {{ with .Site.Params.orgnr}}
            <span class="block mt-3 text-sm">Org.nr: {{.}}</span>
            {{ end }}
        </div>

        <div class="flex-1">
            <label class="flex justify-end text-sm hover:underline">
                <a href="https://balevikit.no">Webdesign: Balevik IT</a>
            </label>
        </div>

    </div>
</footer>