{{/*
Usage:
{{ partial "components/images/carousel-square" (dict "ctx" . "images" .images ) }}

Object:
images:
- src: image.jpg
- src: image.jpg
*/}}

{{ $images_length := len .images }}

<div id="default-carousel" class="relative w-full" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-[350px] sm:h-[500px] overflow-hidden">
        {{ range .images }}
        {{ $image := resources.GetMatch .src }}

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            {{ partial "components/images/image-square.html" .}}
        </div>
        {{ end }}
    </div>


    {{ partial "components/images/utils/carousel-controls" . }}
</div>