{{/*
Usage:
{{ partial "components/images/carousel-banner" (dict "ctx" . "images" .images ) }}

Object:
images:
- src: image.jpg
- src: image.jpg
*/}}

<div id="default-carousel" class="relative w-full" data-carousel="static">
    
    <!-- Images -->
    <div class="relative h-[350px] sm:h-[400px] md:h-[500px] overflow-hidden">
        {{ range .images }}
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            {{ partial "components/images/image-banner" . }}
        </div>
        {{ end }}
    </div>

    {{ partial "components/images/utils/carousel-controls" . }}
</div>