{{/*
    Usage: 
    {{ partial "components/images/image-banner.html" . }}

    Data:
      image_1: 
        src: "images/sample-4.jpg"
        alt: "Description of the image"
*/}}

{{ $image := resources.GetMatch .src }}
{{ $image_medium := $image.Fill "1050x500 q60" }} <!-- For screens up to 1050px -->
{{ $image_small := $image.Fill "650x500 q60" }}   <!-- For tablets -->
{{ $image_xsmall := $image.Fill "450x350 q60" }}  <!-- For small devices -->

<picture>
    <!-- Define image sizes for different screen widths -->
    <source media="(min-width: 1050px)" srcset="{{ $image_medium.RelPermalink }}" width="{{ $image_medium.Width }}" height="{{ $image_medium.Height }}">
    <source media="(min-width: 480px)" srcset="{{ $image_small.RelPermalink }}" width="{{ $image_small.Width }}" height="{{ $image_small.Height }}">
    <source srcset="{{ $image_xsmall.RelPermalink }}" width="{{ $image_xsmall.Width }}" height="{{ $image_xsmall.Height }}">
    
    <!-- Fallback for very small screens or browsers that don't support <picture> -->
    <img class="w-full h-[350px] sm:h-[400px] md:h-[500px] object-cover" 
         {{ with .alt }}alt="{{ . }}"{{ end }} 
         loading="lazy" 
         src="{{ $image_xsmall.RelPermalink }}" 
         width="{{ $image_xsmall.Width }}" 
         height="{{ $image_xsmall.Height }}">
</picture>
