{{/*
    Usage:
    {{ partial "components/images/image-square.html" . }}

    Data:
    image_1:
    src: "images/sample-4.jpg"
    alt: ""
*/}}

{{ $contrast := site.Params.contrast | default 5 }}
{{ $filter := images.Contrast $contrast }}
{{ $image := resources.GetMatch .src | images.Filter $filter }}
{{ $image_small := $image.Fill "650x500 q60" }}
<picture>
    <img style="aspect-ratio: 5/4;" class="h-full w-full min-h-[500px] object-cover" {{ with .alt }}alt="{{ . }}" {{ end }} loading="lazy" src="{{ $image_small.RelPermalink }}" width="{{ $image_small.Width }}" height="{{ $image_small.Height }}">
</picture>